aprilCameraCalibration {

    // MRE:   0.284 px MSE   0.121 px MaxRE   1.127 px MaxERE   0.919 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 648;
        height = 482;

        intrinsics {
            // focal length fx, fy
            fc = [ 459.247558, 457.250185 ];
            // focal center cx, cy
            cc = [ 329.084929, 237.583672 ];
            // polynomial approximation mapping theta to radius
            kc = [  -0.052039,   0.007111,  -0.009130,   0.002766 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
